{% extends 'base.html.twig' %}

{% block title %}{{'register.confirmed.title'|trans({}, 'messages') }}!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h2>{{'register.confirmed.title'|trans({}, 'messages') }}</h2>

    <p>Deine Email &lt;{{ email }}&gt; wurde erfolgreich bestätigt. Mögen die Steine mit dir sein.}</p>
{% endblock %}
