{% extends 'base.html.twig' %}

{% block title %}Confirm!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <h2>Email Bestätigung</h2>

    <p>{{ message }}</p>
{% endblock %}
