@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

//@import "~font-awesome";

$color-site: rgb(170,205,78);

body {
    background-image: url("../images/background/wood2.jpeg");
    //background-size: cover;
    //background-position: center center;
    background-color: $color-site;
    padding-top: 5rem;

}

.error {
    h1 {
        color: red;
    }
    p {
        text-align: justify;
    }
    div {
        margin: 10px 0 20px 0;
        font-style: italic;
        color: #000; /* Fallback for older browsers */
        color: rgba(0, 0, 0, 0.5);
        ;
    }
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.version {
    padding-right: 10px;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

main > .container {
    padding: 60px 15px 0;
    text-align: center;
}


a.navbar-brand {

    img {
        width: 28px;
        height: 28px;
        margin-right: 10px;
    }
}

.navbar-light .navbar-brand{
    font-weight: bold;
}

.upper-toggler {
    background-color: $color-site;
}

.footer {
    background-color: #f5f5f5;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.nakade-bg {
    background:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../images/background/steine.jpeg");
    background-size: cover;
    background-color: #e3f2fd;
}

.nakade-quotes {
    margin-top: 50px;
    margin-bottom: 50px;
}

.carousel-item {
    div {
        width: 70%;
        text-align: justify;
        margin-left: auto;
        margin-right: auto;
        div {
            width: auto;
            color: #916319;
        }
    }

}