@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import "~font-awesome";

$color-site: rgb(170,205,78);

body {
    background-image: url("../images/background/wood2.jpeg");
    background-color: $color-site;
    padding-top: 5rem;

}

.error {
    h1 {
        color: red;
    }
    p {
        text-align: justify;
    }
    div {
        margin: 10px 0 20px 0;
        font-style: italic;
        color: #000; /* Fallback for older browsers */
        color: rgba(0, 0, 0, 0.5);
        ;
    }
}

main > .container {
    padding: 60px 15px 0;
    text-align: center;
}


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

code {
    font-size: 80%;
}

