//easyAdmin

.player-name {

    .form-control {
        min-height: unset !important;
    }
}

.birthday {
    color: #8b8b8b;
    font-weight: bolder;
}

.player-contact {
    list-style: none !important;
    padding: 2px;
    margin: 5px 0 !important;

    .fa {
        color: #8b8b8b;
    }
}

.checked, .win {
    color: darkgreen;
}
.missing, .lost {
    color: darkred;
}

.stones {
    color: #4c5367;
}

.result {
    span:first-of-type, span:last-of-type {
        padding-left: 5px;
    }
    input {
        width: 100rem;
    }
}

.bl-form {
    label {
        align-self: self-start;
        flex: 30% 0 0;
    }
    div.bl-result {
        span {
            padding: 0 5px;
            font-weight: bolder;
        }

        input {
            width: 5rem;
        }
    }
}
