//easyAdmin

.player-name {

    .form-control {
        min-height: unset !important;
    }
}

.birthday {
    color: #8b8b8b;
    font-weight: bolder;
}

.player-contact {
    list-style: none !important;
    padding: 2px;
    margin: 5px 0 !important;

    .fa {
        color: #8b8b8b;
    }
}

.checked, .win {
    color: darkgreen;
}
.missing, .lost {
    color: darkred;
}

.stones {
    color: #4c5367;
}

.result {
    span:first-of-type, span:last-of-type {
        padding-left: 5px;
    }
    input {
        width: 100rem;
    }
}

.bl-form {
    label {
        align-self: self-start;
        flex: 30% 0 0;
    }
    div.bl-result {
        span {
            padding: 0 5px;
            font-weight: bolder;
        }

        input {
            width: 5rem;
        }
    }
}

.bundesliga {
    background-color: #adb7e7;
    table {
        border: red 1px solid !important;
    }

}

.matchDay {
    text-align: left;
    color: #8b8b8b;

    fieldset {
        border-radius: 0.6rem;
        padding: 20px;
        background: #e3e7ed;
        border: #8b8b8b 1px solid;
        margin-bottom: 1rem;

        legend {
            width: unset;
            padding: 0 5px;
            text-align: left;
            font-size: medium;
        }

        i {
            color: #1b1e21;
        }

        div:last-child {
            margin-top: 20px;
            margin-left: 20px;
        }

        td {
            color: black;
            padding-top: 10px;
            padding-bottom: 10px;

            input {
                min-width: 40px !important;
                width: 60px !important;
                text-align: center;
                color: blue;
            }
        }
    }

    .no-margin-top {
        margin-top: unset !important;
    }

    .manager {

        div {
            margin-top: unset;
            display: inline-block;
        }
    }

    .algolia-autocomplete {
        width: unset !important;
        display: unset !important;
    }
    .algolia-autocomplete .aa-input {
        width: unset !important;
    }
    .form-check {
        margin-left: 20px;
        display: inline-flex;
        color: #1b1e21;
    }


    .form-control {
        display: inline-flex;
        min-width: 300px;
        width: max-content;
    }
}

.matchDay-info {
    color: #4c5367;
    span {
        padding-left: 10px;
    }
}

.matchDay-buttons {

    button, a {
        margin-top: 20px;
        width: 10rem;

        i {
            margin-right: 5px;
        }
    }

    button:first-of-type {
        margin-right: 20px;
    }
}

.bundesliga-result {
    padding-left: 20px;
}