//DGoB Bundesliga
.bundesliga {
    border: #4c5367 1px solid;
    cursor: default;

    caption {
        caption-side: top;
        font-weight: bolder;
        text-align: center;
        padding-bottom: 0;
    }

    tr {
        background-color: #F0F8FF;
        ;
    }

    td {
        padding: 3px;
        white-space: nowrap;
        border: unset;

    }

    td:first-child {
        text-align: right;
    }

    .head {
        background-color: midnightblue;
        color: white;
        font-weight: bolder;

        td {
            padding-top: 4px;
        }
    }

    .hide {
        display: none;
    }

    .meister {
        background-color: #0F0;
    }

    .aufsteiger {
        background-color: #9F9;
    }

    .relegation {
        background-color: #FCC;
    }

    .absteiger {
        background-color: #F99;
    }

    .nakade {
        font-weight: bold;
    }

    .team {
        text-align: left;
    }

    .games {
        padding-left: 10px;
        padding-right: 10px;
        text-align: right;
    }

    .board {
        padding-left: 10px;
        padding-right: 10px;
        text-align: right;
    }

    .points {
        padding-right: 15px;
        text-align: right;
    }

    .matchDaySelect {
        background-color: midnightblue;
        color: white;
        text-align: center !important;
        padding-top: 4px;

        a {
            color: white;
            text-decoration: none;
        }

        span {
            padding-left: 5px;
            padding-right: 5px;
        }

        .actual {
            font-weight: bold;
        }

        .notPlayed {
            color: #8b8b8b;
        }
    }
}

.nextMatchDay {
    padding-bottom: 1rem;
}

.pairing {

    font-weight: bolder;
    font-size: larger;
    border-style: none !important;
    h1 {
        color: #6c757d;
        font-size: large;
        font-weight: bolder;
    }
    ul {
        list-style-type: none;
        display: inline-block;
        padding-inline-start: unset;
        margin: 0;
        li {
            font-weight: bolder;
            white-space: nowrap;
        }
    }

    .result {
        padding-left: 20px;
        white-space: nowrap;
    }
}

.season-select {
    margin-bottom: 20px;
}

.matches {
    margin-top: 20px;

    i {
        color: #4c5367;
    }

    .point-maker {
        font-weight: bolder;
    }

    .versus {
        text-align: center !important;
        padding:0 15px !important;
    }

    .match-result {
        padding-left: 15px;
    }
}

.player-stats {
    text-align: left;
    border: #4c5367 1px solid !important;
    margin-top: 20px;

    .defaultColor {
        background-color: #FDF5E6;
    }

    .alternateColor {
        background-color: #FFDAB9;
    }

    i {
        color: #4c5367;
    }

    tr:hover {
        background-color: #9F9;
        cursor: pointer;
    }

    td {
        line-height: 2rem;
    }

    td:first-of-type {
        color: #6c757d;
    }

    td:first-of-type, td:last-of-type {
        padding: 0 10px;
    }

    .team {
        padding-left: 10px;
    }

    .versus {
        text-align: center !important;
        padding:0 15px !important;
    }

    .match-result {
        padding-left: 15px;
    }
}

.match-stats {
    border: #4c5367 1px solid !important;
    width: 50%;

    i {
        color: #4c5367;
    }

    tr {
        line-height: 2rem;
    }

    th {
        padding: 0 5px;
        background-color: #FFDAB9;
        text-align: center;
    }
    td {
        background-color: #FDF5E6;
        text-align: center;
    }
}

ul.board-stats {
    list-style: none;
    margin: 1rem 0;
    padding: unset;

    span {
        color: #6c757d;
    }
}