//DGoB Bundesliga
.bundesliga {
    border: #4c5367 1px solid;
    cursor: default;

    caption {
        caption-side: top;
        font-weight: bolder;
        text-align: center;
        padding-bottom: 0;
    }

    tr {
        background-color: #F0F8FF;
        ;
    }

    td {
        padding: 3px;
        white-space: nowrap;
        border: unset;

    }

    td:first-child {
        text-align: right;
    }

    .head {
        background-color: midnightblue;
        color: white;
        font-weight: bolder;

        td {
            padding-top: 4px;
        }
    }

    .hide {
        display: none;
    }

    .meister {
        background-color: #0F0;
    }

    .aufsteiger {
        background-color: #9F9;
    }

    .relegation {
        background-color: #FCC;
    }

    .absteiger {
        background-color: #F99;
    }

    .nakade {
        font-weight: bold;
    }

    .team {
        text-align: left;
    }

    .games {
        padding-left: 10px;
        padding-right: 10px;
        text-align: right;
    }

    .board {
        padding-left: 10px;
        padding-right: 10px;
        text-align: right;
    }

    .points {
        padding-right: 15px;
        text-align: right;
    }

    .matchDaySelect {
        background-color: midnightblue;
        color: white;
        text-align: center !important;
        padding-top: 4px;

        a {
            color: white;
            text-decoration: none;
        }

        span {
            padding-left: 5px;
            padding-right: 5px;
        }

        .actual {
            font-weight: bold;
        }

        .notPlayed {
            color: #8b8b8b;
        }
    }
}

.nextMatchDay {
    padding-bottom: 1rem;
}

.pairing {

    font-weight: bolder;
    font-size: larger;
    border-style: none !important;
    h1 {
        color: #6c757d;
        font-size: large;
        font-weight: bolder;
    }
    ul {
        list-style-type: none;
        display: inline-block;
        padding-inline-start: unset;
        margin: 0;
        li {
            font-weight: bolder;
            white-space: nowrap;
        }
    }

    .result {
        padding-left: 20px;
        white-space: nowrap;
    }
}