.feature {
  border-collapse: collapse;
  color: #4c5367;
  background-color: white;

  thead {
    background-color: #dbf0fe;
    th:first-child {
      width: 100%;
      padding-left: 10px;
    }
    th:last-child {
      padding-right: 10px;
    }
    th {
      cursor: pointer;
      width: fit-content;
      padding: 5px;
    }
    .status {
      padding-right: 20px;
      color: #00bb00;
    }
  }
  tbody {
    cursor: default;
    td {
      padding: 10px;
    }
  }
  .comment {
    background-color: #e1e1e1
  }
}

.form-group label {
  text-align: left;
}

.form-actions a {
  margin-right: 20px;
}