@import "~font-awesome";
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 10px;
    margin: auto;
}

    .mb-3 {
        text-align: left;
    }

.toggle-eye {
    display: flex;
    color: DodgerBlue;
    cursor: pointer;
}

button {
    margin-top:10px;
}