form {
    margin-bottom: 10px;
}

    .input-group, small {
        text-align: left !important;
    }

    .form-check-inline {
        margin-top: 10px;
    }

    button {
        margin-top: 20px;
    }

//datenschutz info
.privacy {
    margin-top:20px;
    margin-bottom: 10px;
    text-align: left;
}

.invalid-feedback {
    text-align: left;
}
