//Player stats

$defaultBgColor: #fdf5e6;
$alternateBgColor: #FFDAB9;
$contrastBgColor: #bdffb9;
$headerBgColor: #b9c1ff;
$colorLight: #6c757d;
$colorLight2: #4c5367;

.stats {
    h5 {
        color: $colorLight2;
    }

    h6 {
        color: $colorLight;
    }

    button {
        margin-top: 2rem;
        width: 10rem;
    }

    table {
        border: $colorLight2 1px solid !important;

        tr {
            line-height: 2rem;
        }

        th {
            padding: 0 5px;
            background-color: $headerBgColor;
            text-align: center;
            cursor: default;
        }

        td {
            white-space: nowrap;
        }
    }

    i {
        color: $colorLight2;
    }

}

.player-stats {
    text-align: left;
    margin-top: 20px;

    .point-maker {
        font-weight: bolder;
    }

    td:first-of-type, td:last-of-type {
        text-align: center;
    }

    td:first-of-type, td:last-of-type {
        padding: 0 10px;
    }

    .team {
        padding-left: 10px;
    }

    .versus {
        text-align: center !important;
        padding:0 15px !important;
    }

    .match-result {
        padding-left: 15px;
    }
}

.match-stats {
    min-width: 50%;
    width: available;
    margin-left: auto;
    margin-right: auto;

    td {
        text-align: center;
        padding: 0 5px;
    }

    .name {
        text-align: left;
    }

    .space {
        padding: 0 15px;
    }
}

.selectRow {

    tr:hover {
        background-color: $contrastBgColor;
        cursor: pointer;
    }
    th {
        cursor: default;
    }
}

.defaultColor {
  background-color: $defaultBgColor;
}

.alternateColor {
  background-color: $alternateBgColor;
}

ul.board-stats {
    list-style: none;
    margin: 1rem 0;
    padding: unset;

    span {
        color: $colorLight;
    }
}