form {
    margin-bottom: 10px;
}

    .input-group, small {
        text-align: left !important;
    }

    .newsletter-help {
        margin-bottom: 10px !important;
    }

    .form-check-inline {
        margin-top: 10px;
    }

    //passwort toggler
    .toggle-eye {
        display: flex;
        color: DodgerBlue;
        cursor: pointer;
    }

    button {
        margin-top: 10px;
    }

//datenschutz info
.privacy {
    margin-top:20px;
    margin-bottom: 10px;
    text-align: left;
}


