.communicationIcon {
  background-image: url(../images/sprites/sprite-communication-black.png);
}
.icon-ic_business_black_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_call_black_24dp {
  background-position: -160px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_call_end_black_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_call_made_black_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_call_merge_black_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_call_missed_black_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_call_missed_outgoing_black_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_call_received_black_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_call_split_black_24dp {
  background-position: -64px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_chat_black_24dp {
  background-position: -96px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_chat_bubble_black_24dp {
  background-position: -96px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_chat_bubble_outline_black_24dp {
  background-position: -96px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_clear_all_black_24dp {
  background-position: -0px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_comment_black_24dp {
  background-position: -32px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_contact_mail_black_24dp {
  background-position: -64px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_contact_phone_black_24dp {
  background-position: -96px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_contacts_black_24dp {
  background-position: -128px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_dialer_sip_black_24dp {
  background-position: -128px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_dialpad_black_24dp {
  background-position: -128px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_email_black_24dp {
  background-position: -128px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_forum_black_24dp {
  background-position: -0px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_import_contacts_black_24dp {
  background-position: -32px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_import_export_black_24dp {
  background-position: -64px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_invert_colors_off_black_24dp {
  background-position: -96px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_live_help_black_24dp {
  background-position: -128px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_location_off_black_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_location_on_black_24dp {
  background-position: -160px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_mail_outline_black_24dp {
  background-position: -160px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_message_black_24dp {
  background-position: -160px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_no_sim_black_24dp {
  background-position: -160px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_phone_black_24dp {
  background-position: -0px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_phonelink_erase_black_24dp {
  background-position: -32px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_phonelink_lock_black_24dp {
  background-position: -64px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_phonelink_ring_black_24dp {
  background-position: -96px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_phonelink_setup_black_24dp {
  background-position: -128px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_portable_wifi_off_black_24dp {
  background-position: -160px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_present_to_all_black_24dp {
  background-position: -192px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_ring_volume_black_24dp {
  background-position: -192px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_rss_feed_black_24dp {
  background-position: -192px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_screen_share_black_24dp {
  background-position: -192px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_speaker_phone_black_24dp {
  background-position: -192px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_stay_current_landscape_black_24dp {
  background-position: -192px -160px;
  width: 32px;
  height: 32px;
}
.icon-ic_stay_current_portrait_black_24dp {
  background-position: -0px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_stay_primary_landscape_black_24dp {
  background-position: -32px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_stay_primary_portrait_black_24dp {
  background-position: -64px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_stop_screen_share_black_24dp {
  background-position: -96px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_swap_calls_black_24dp {
  background-position: -128px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_textsms_black_24dp {
  background-position: -160px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_voicemail_black_24dp {
  background-position: -192px -192px;
  width: 32px;
  height: 32px;
}
.icon-ic_vpn_key_black_24dp {
  background-position: -224px -0px;
  width: 32px;
  height: 32px;
}
