{% extends 'base.html.twig' %}

{% block title %}Hello QuoteAdminController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">


    <table style="width: 100%; border: #313131 1px solid; font-size: smaller">
        <tr><th>Zitat</th><th>Details</th><th>created</th><th>updated</th></tr>
        {% for quote in quotes %}
            <tr style="text-align: left">
                <td>{{ quote.quote }}</td>
                <td>{{ quote.details }}</td>
                <td>{{ quote.createdAt|date('d-m') }}</td>
                <td>{{ quote.updatedAt|date('d-m') }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
