{% if model and model.actualTable %}
    <div style="text-align: center">
    <div class="js-season-table">

        {% include 'bundesliga/_result.html.twig' %}
        {% include 'bundesliga/_table.html.twig' with { 'uri': 'bundesliga_matchDay_select' } %}
        {% if model and model.actualTable and model.nextResult %}
            <div class="bundesliga pairing">
                <h1>Nächster Spieltag</h1>
                <ul class="d-md-inline-flex">
                    <li>{{ model.nextResult.pairing}}</li>
                    <li class="result">{{ model.nextResult.playedAt | locale_datetime }}</li>
                </ul>
            </div>
        {% endif %}
    </div>
    </div>
{% endif %}