{% if model and model.actualTable %}
    {% include 'bundesliga/_result.html.twig' %}

    {% if matches %}
    <table class="matches">
        {% for match in matches %}
            <tr>
                <td class="{% if match.result != '0:2' %}point-maker{% endif %}">
                    <a href="{{ path('bundesliga_season_player', { 'seasonId': model.season.id, 'playerId': match.player.id}) }}">{{ match.player }}</a>
                </td>
                <td class="versus">-</td>
                <td>{{ match.opponent }}</td>
                <td class="match-result">{{ match.result }}</td>
            </tr>
        {% endfor %}
    </table>
     {% endif %}

    {% include 'bundesliga/_table.html.twig' %}
{% endif %}