{% extends 'base.html.twig' %}

{% block title %}Aktuelle Saison{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dgob') }}
{% endblock %}

{% block body %}
<div>
    {{ include('bundesliga/table.html.twig') }}
</div>
{% endblock %}
