{% extends 'base.html.twig' %}

{% block title %}Aktuelle Saison{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dgob') }}
{% endblock %}

{% block body %}
    <div class="container">
        <center>
        {{ include('bundesliga/_actualTable.html.twig') }}
        </center>
    </div>
{% endblock %}
