{% if model and model.actualTable and model.nextResult %}
    <table class="bundesliga pairing">
        <caption>Nächster Spieltag</caption>
        <tr>
            <td>{{ model.nextResult.pairing}}</td>
            <td class="result">{{ model.nextResult.playedAt | locale_datetime }}</td>
        </tr>
    </table>
{% endif %}