{% if model and model.actualTable and model.result %}
    <table class="bundesliga pairing">
        <caption>Aktuelles Ergebnis</caption>
        <tr>
            <td>{{ model.result.pairing}}</td>
            <td class="result">{{ model.result.result}}</td>
        </tr>
    </table>
{% endif %}