{# a *-to-many collection of values #}
{% if item.lineup|length > 0 %}
<ul style="list-style: decimal" class="{{ value|length < 2 ? 'inline' }}">
    {% for player in item.lineup.players %}
        <li>
            <a href="{{ path('easyadmin', link_parameters|merge({ entity: 'BundesligaPlayer', primary_key_name: 'id', id: player.id })) }}">{{ player.name }}</a>
        </li>
    {% endfor %}
</ul>
{% else %}
    <span style="color: red;">{{'easyAdmin.bundesliga.lineup.noTeam'|trans({}, 'messages')}}</span>
{% endif %}

