{# templates/common/about.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('about') }}
{% endblock %}

{% block title %}About{% endblock %}

{% block body %}
    <h2>Wer ist Nakade?</h2>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('about') }}
{% endblock %}