{# templates/common/privacy.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Datenschutzerklärung{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('imprint') }}
{% endblock %}

{% block body %}
    <h2>Datenschutzerklärung</h2>
    <div class="privacy">
    <p>Als Webseitenbetreiber nehmen wir den Schutz aller persönlichen Daten sehr ernst. Alle personenbezogenen
    Informationen werden vertraulich und gemäß den gesetzlichen Vorschriften behandelt, wie in dieser
    Datenschutzerklärung erläutert.</p>
    <p>Unserer Webseite kann selbstverständlich genutzt werden, ohne dass Sie persönliche Daten angeben. Wenn
    jedoch zu irgendeinem Zeitpunkt persönliche Daten wie z.B. Name, Adresse oder E-Mail abgefragt werden, wird
    dies auf freiwilliger Basis geschehen.
    Niemals werden von uns erhobene Daten ohne Ihre spezielle Genehmigung an Dritte weitergegeben.</p>
    <p>Datenübertragung im Internet, wie zum Beispiel über E-Mail, kann immer Sicherheitslücken aufweisen. Der
     komplette Schutz der Daten ist im Internet nicht möglich.</p>

    <h2>Server-Log-Files</h2>
    <p>Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten
        Server-Log Files, die Ihr Browser automatisch an uns übermittelt. Dies sind:</p>

    <ul>
        <li>Browsertyp und Browserversion</li>
        <li>Verwendetes Betriebssystem</li>
        <li>Referrer URL</li>
        <li>Hostname des zugreifenden Rechners</li>
        <li>Uhrzeit der Serveranfrage</li>
    </ul>

    <p>Diese Daten sind nicht bestimmten Personen zuordbar. Eine Zusammenführung dieser Daten
        mit anderen Datenquellen wird nicht vorgenommen. Wir behalten uns vor, diese Daten
        nachträglich zu prüfen, wenn uns konkrete Anhaltspunkte für eine rechtswidrige Nutzung
        bekannt werden.</p>

    <h2>Newsletter Service</h2>
    <p>Für den von uns angebotenen E-Mail-Newsletter, benötigen wir von Ihnen eine E-Mail-Adresse sowie Informationen
    (Name, Vorname, Geschlecht, Geburtstag) welche uns die Überprüfung gestatten, dass Sie der Inhaber der
    angegebenen E-Mail-Adresse und mit dem Empfang des Newsletters einverstanden sind. Dabei verwenden wir für den
    Versand des Newsletters das sogenannte Double-Opt-In-Verfahren. Danach werden wir Ihnen erst dann einen Newsletter
    zusenden, wenn Sie in unserer Benachrichtigungs-E-Mail durch das Anklicken eines Links bestätigen, dass wir den
    Newsletter-Dienst tatsächlich aktivieren sollen. Die dabei anfallenden Daten verwenden wir ausschließlich für
    den Versand der angeforderten Informationen und Angebote.
    Ihre E-Mail-Adresse wird daher solange gespeichert, wie Sie unseren Newsletter beziehen. Die sonstigen im Rahmen
    des Anmeldevorgangs erhobenen personenbezogenen Daten werden in der Regel gelöscht oder gesperrt, sobald der Zweck
    der Speicherung entfällt. Die erteilte Einwilligung zur Speicherung der Daten, der E-Mail-Adresse sowie deren
    Nutzung zum Versand des Newsletters können Sie jederzeit widerrufen, etwa über den 'Abmelden'-Link im Newsletter
        oder über unsere im Impressum benannten Kontaktdaten.</p>


    <h2>Verwendung von Google reCAPTCHA</h2>
    <p>Zum Schutz Ihrer Anfragen per Internetformular verwenden wir den Dienst reCAPTCHA des Unternehmens
    Google Inc. (Google). Die Abfrage dient der Unterscheidung, ob die Eingabe durch einen Menschen oder missbräuchlich
    durch automatisierte, maschinelle Verarbeitung erfolgt. Die Abfrage schließt den Versand der IP-Adresse und
    ggf. weiterer von Google für den Dienst reCAPTCHA benötigter Daten an Google ein. Im Falle der Aktivierung
    der IP-Anonymisierung auf dieser Webseite wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten
    der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum
    zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen
    und dort gekürzt. Die im Rahmen von reCAPTCHA von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen
    Daten von Google zusammengeführt. Für die Unterscheidung, ob die Eingabe durch einen Menschen oder missbräuchlich
    durch automatisierte, maschinelle Verarbeitung erfolgt, wird Ihre Eingabe an Google übermittelt und dort
    weiterverwendet. Im Auftrag des Betreibers dieser Website wird Google diese Informationen zudem benutzen, um Ihre
    Nutzung dieses Dienstes auszuwerten. An der Verhinderung des Missbrauchs unserer Website durch die automatisierte
    Verarbeitung fremder Dritter haben wir ein berechtigtes Interesse im Sinne von Art. 6 Abs. 1 lit. f DSGVO.
    Für  die im Rahmen der Nutzung von Google reCAPTCHA verarbeiteten Daten gelten die Datenschutzbestimmungen des
    Unternehmens Google. Weitere Informationen zu den Datenschutzrichtlinien von Google finden Sie unter
        https://www.google.com/intl/de/policies/privacy/.</p>

    <h2>Webanalyse- und Retargeting-Technologien</h2>
    <p>Anhand der Webanalyse Programme Google Analytics¹ werden Daten (wie bspw. Plug-Ins, Browser, Aufenthaltsdauer,
    verwendete Sprache, etc.) zu Marketing- und Optimierungszwecken gesammelt und zur bedarfsgerechten Gestaltung
    unserer Services verarbeitet und gespeichert. Aus diesen Daten können unter einem
    Pseudonym Nutzungsprofile und Zielgruppensegmente erstellt werden, die für zielgerichtete Marketing- oder
    Informationskampagnen eingesetzt werden. Die mit der Webanalyse erhobenen Daten werden ohne die gesondert
    erteilte Zustimmung des Betroffenen nicht dazu benutzt, den Besucher der Website persönlich zu identifizieren
    und nicht mit personenbezogenen Daten über den Träger des Pseudonyms zusammengeführt.
    ¹ Google Analytics ist ein Webanalysedienst der Google Inc. („Google“). Google Analytics verwendet sog. „Cookies“,
    Textdateien die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie
    ermöglichen. Die durch das Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden in der Regel
    an einen Server von Google in den USA übertragen und dort gespeichert. Im Falle der Aktivierung der
    IP-Anonymisierung auf dieser Website wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der
    Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor
    gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und
    dort gekürzt. Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen
    Daten von Google zusammengeführt.
    In unserem Auftrag wird Google die durch die Nutzung von Google Analytics gewonnen Informationen benutzen, um
    Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit
    der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen.
    Wir nutzen Google Analytics dazu, Daten aus dem Double-Click-Cookie zu statistischen Zwecken auszuwerten.
    Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern;
    in diesem Fall werden Sie allerdings nicht sämtliche Funktionen der Website vollumfänglich nutzen können.
    Sie können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Website
    bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern,
    indem Sie das unter dem folgenden Link verfügbare Browser-Plugin herunterladen und installieren
    http://tools.google.com/dlpage/gaoptout?hl=de. Sollten Sie die statistische Erfassung der Daten aus AdWords
    und dem Double-Click-Cookie mithilfe von Google Analytics nicht wünschen, können Sie dies über den
    Anzeigenvorgaben-Manager (http://www.google.com/settings/ads/onweb/?hl=de) deaktivieren.
    Nähere Informationen zu Nutzungsbedingungen und Datenschutz finden Sie unter
        http://www.google.com/analytics/terms/de.html bzw. unter https://www.google.de/intl/de/policies/.</p>


    <h2>Social Media Plugins</h2>
    <p>Auf unserer Website werden sogenannte Social Plugins („Plugins“) der sozialen Netzwerke Facebook und Google+,
    der Mikroblogging-Dienste Twitter und Instagram verwendet. Diese Dienste werden von den Unternehmen Facebook Inc.,
    Google Inc., Twitter Inc. und Instagram LLC. angeboten („Anbieter“). Facebook wird betrieben von der Facebook Inc.,
    1601S. California Ave, Palo Alto, CA 94304, USA (“Facebook”). Eine Übersicht über die Plugins von Facebook und
    deren Aussehen finden Sie hier: https://developers.facebook.com/docs/plugins
    Google+ wird betrieben von der Google Ireland Limited, Gordon House, Barrow Street, Dublin 4, Irland („Google“).
    Eine Übersicht über die Plugins von Google und deren Aussehen finden Sie hier: https://developers.google.com/+/web/
    Twitter wird betrieben von der Twitter Inc., 1355 Market St, Suite 900, San Francisco, CA 94103, USA („Twitter“).
    Eine Übersicht über die Twitter-Buttons und deren Aussehen finden Sie hier:
        https://about.twitter.com/en_us/company/brand-resources.html
    Instagram wird betrieben von der Instagram LLC ., 1601 Willow Road, Menlo Park, CA 94025, USA („Instagram“).
        Eine Übersicht über die Instagram-Buttons und deren Aussehen finden Sie hier:
        http://blog.instagram.com/post/36222022872/introducing-instagram-badges
    Wenn Sie eine Seite unseres Webauftritts aufrufen, die ein solches Plugin enthält, stellt Ihr Browser eine direkte
        Verbindung zu den Servern von Facebook, Google, Twitter oder Instagram her. Der Inhalt des Plugins wird vom
        jeweiligen Anbieter direkt an Ihren Browser übermittelt und in die Seite eingebunden. Durch die Einbindung der
        Plugins erhalten die Anbieter die Information, dass Ihr Browser die entsprechende Seite unseres Webauftritts
        aufgerufen hat, auch wenn Sie kein Profil besitzen oder gerade nicht eingeloggt sind. Diese Information
        (einschließlich Ihrer IP-Adresse) wird von Ihrem Browser direkt an einen Server des jeweiligen Anbieters in die
        USA übermittelt und dort gespeichert. Sind Sie bei einem der Dienste eingeloggt, können die Anbieter den
        Besuch unserer Website Ihrem Profil auf Facebook, Google+, Twitter bzw. Instagram unmittelbar zuordnen.
        Wenn Sie mit den Plugins interagieren, zum Beispiel den „Gefällt mir“-, den „+1“-, den „Twittern“- bzw. den
        „Instagram“-Button betätigen, wird die entsprechende Information ebenfalls direkt an einen Server der Anbieter
        übermittelt und dort gespeichert. Die Informationen werden außerdem in dem sozialen Netzwerk, auf Ihrem
        Twitter- bzw. Instagram-Account veröffentlicht und dort Ihren Kontakten angezeigt. Zweck und Umfang der
        Datenerhebung und die weitere Verarbeitung und Nutzung der Daten durch die Anbieter sowie Ihre diesbezüglichen
        Rechte und Einstellungsmöglichkeiten zum Schutz Ihrer Privatsphäre entnehmen Sie bitte den Datenschutzhinweisen
        der Anbieter.
    Datenschutzhinweise von Facebook: http://www.facebook.com/policy.php
    Datenschutzhinweise von Google: http://www.google.com/intl/de/+/policy/+1button.html
    Datenschutzhinweise von Twitter: https://twitter.com/privacy
    Datenschutzhinweise von Instagram: https://help.instagram.com/155833707900388/
    Die Weiterleitung personenbezogener Daten der Nutzer an die vorgenannten Anbieter sozialer Netzwerke dient der
    Einbindung unseres Vereins in die sozialen Netzwerke und der Kommunikation zwischen Verein und Nutzern. Darin
    liegt ein berechtigtes Interesse im Sinne des Art. 6 Abs. 1 lit. f DSGVO.
    Wenn Sie nicht möchten, dass Google, Facebook, Twitter oder Instagram die über unseren Webauftritt gesammelten
        Daten unmittelbar Ihrem Profil in dem jeweiligen Dienst zuordnen, müssen Sie sich vor Ihrem Besuch unserer
        Website bei dem entsprechenden Dienst ausloggen. Sie können das Laden der Plugins auch mit Add-Ons für Ihren
        Browser komplett verhindern, z. B. mit dem Skript-Blocker „NoScript“ (http://noscript.net/).
    </p>

    <h2>Sichere Datenübertragung</h2>
    <p>Alle persönlichen Daten, die Sie uns beim Surfvorgang übermitteln, werden verschlüsselt übertragen und sind
        damit vor Missbrauch geschützt. Wir bauen insbesondere bei jeder Transaktion eine sog. SSL-Verbindung auf.
        SSL (Secure-Socket- Layer) ist ein Verfahren, bei dem Ihre Daten so verschlüsselt werden, dass sie bei der
        Übertragung im Internet nicht von Unbefugten gelesen werden können.
    Die SSL-Verbindung erkennen Sie daran, dass sich die Internet-Adresse von http:// in https:// geändert hat.
        Außerdem wird die sichere Verbindung in der Regel in der Statuszeile ihres Webbrowsers durch ein geschlossenes
        Vorhängeschloss angezeigt.</p>

    <h2>Widerruf, Änderungen, Berichtigungen und Aktualisierungen</h2>
    <p>Der Nutzer hat das Recht, auf Antrag unentgeltlich Auskunft über die personenbezogenen
        Daten zu erhalten, die über ihn gespeichert wurden. Zusätzlich hat der Nutzer das Recht
        auf Berichtigung unrichtiger Daten, Sperrung und Löschung seiner personenbezogenen
        Daten, soweit dem keine gesetzliche Aufbewahrungspflicht entgegensteht.</p>

    <h2>Recht auf Auskunft, Löschung, Sperrung</h2>
    <p>Sie haben jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten
        personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck der
        Datenverarbeitung sowie ein Recht auf Berichtigung, Sperrung oder Löschung dieser
        Daten. Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich
        jederzeit unter der im Impressum angegebenen Adresse an uns wenden.</p>

    <h2>Widerspruch Werbe-Mails</h2>
    <p>Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten zur
        Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien
        wird hiermit widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich
        rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa
        durch Spam-E-Mails, vor.</p>

    <h2>Cookies</h2>
    <p>Unsere Website verwendet Cookies. Das sind kleine Textdateien, die Ihr Webbrowser auf
        Ihrem Endgerät speichert. Cookies helfen uns dabei, unser Angebot nutzerfreundlicher,
        effektiver und sicherer zu machen.</p>
    <p>Einige Cookies sind “Session-Cookies.” Solche Cookies werden nach Ende Ihrer
        Browser-Sitzung von selbst gelöscht. Hingegen bleiben andere Cookies auf Ihrem Endgerät
        bestehen, bis Sie diese selbst löschen. Solche Cookies helfen uns, Sie bei Rückkehr auf
        unserer Website wiederzuerkennen.</p>
    <p>Mit einem modernen Webbrowser können Sie das Setzen von Cookies überwachen, einschränken
        oder unterbinden. Viele Webbrowser lassen sich so konfigurieren, dass Cookies mit dem
        Schließen des Programms von selbst gelöscht werden. Die Deaktivierung von Cookies kann
        eine eingeschränkte Funktionalität unserer Website zur Folge haben.</p>

    <h2>Änderungen der Datenschutzerklärung</h2>
    <p>Unsere Datenschutzerklärung kann sich von Zeit zu Zeit ändern. Hierzu zählen auch Weiterentwicklungen
    durch Veränderungen innerhalb unseres Angebots sowie Anpassungen aufgrund einer geänderten Gesetzeslage und/oder
    aufgrund der Implementierung neuer Webanalyse- und/oder Retargeting-Technologien. Entsprechende Aktualisierungen
    der Datenschutzerklärung werden von uns auf dieser Seite veröffentlicht werden.</p>

    </div>
{% endblock %}