{# templates/emails/confirmRegistration.html.twig #}
{% extends 'mailTemplate.html.twig' %}

{% block mail_body %}
    <h1 style="display: flex; align-items: center">Bitte bestätige deine Email.</h1>

    <p style="text-align: justify; color: rgb(85, 85, 85);">Du hast es fast geschafft. Bestätige nur noch unten deine Email, um deine Anmeldung für unseren Newsletter abzuschliessen.</p>
    <a style="text-align:center; margin: auto; display: table;text-decoration: none" href="{{ absolute_url(path('news_confirm', { token: token }, true)) }}">
                    <button style="
                             margin-top: 20px;
                             color: #fff;
                             background-color: #007bff;
                             cursor: pointer;
                             display: block;
                             font-weight: 400;
                             text-align: center;
                             vertical-align: middle;
                             padding: 0.375rem 0.75rem;
                             font-size: 1rem;
                             line-height: 1.5;
                             -webkit-border-radius: 10px;
                             -moz-border-radius: 10px;
                             border-radius: 10px;
                             transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                             -webkit-appearance: button;
                    ">Email bestätigen</button>
    </a>

    {% endblock %}

    {% block mail_footer %}
        Unser Newsletter informiert dich über unseren Spieltreff, wann der nächste Spieltreff stattfindet oder ob
        der Spieltreff aufgrund unvorhersehbarer Ereignisse abgesagt, verlegt wird oder die Örtlichkeit sich ändert.<br>
        Üblicherweise wirst du einen Newsletter im Monat erhalten. Du kannst den Newsletter jederzeit abbestellen.
        Um den Newsletter zu stornieren, nutze den Link im Newsletter oder kontaktiere uns direkt.<br>
        Wir behandeln deine Daten vertraulich und geben deine Daten nicht ohne deine Zustimmung an Dritte weiter.
    {% endblock %}
