{# templates/emails/contact.html.twig #}
{% extends 'mailTemplate.html.twig' %}

{% block mail_body %}
    <h1 style="white-space: nowrap; display: flex; align-items: center">Deine Anfrage bei Nakade.</h1>

    <p style="text-align: justify; color: rgb(85, 85, 85);">Vielen Dank für deine Anfrage über unser online-Kontaktformular.
        Die Bearbeitung kann etwas dauern. Bitte habe ein paar Tage Geduld.</p>
{% endblock %}

{% block mail_footer %}
        Bitte beachten Sie, dass Sie auf diese Nachricht nicht direkt antworten können. Dies ist eine automatisch generierte Email.
        Antworten an diese Adresse werden nicht gelesen.<br>
        Ihre Kontaktdaten werden zum Zweck der Bearbeitung Ihrer Anfrage und für den Fall von Anschlussfragen bei uns gespeichert.
        Diese Daten geben wir nicht ohne Ihre Einwilligung weiter.
{% endblock %}
