{# templates/emails/confirmRegistration.html.twig #}
{% extends 'mailTemplate.html.twig' %}

{% block mail_body %}
    <h1 style="white-space: nowrap; display: flex; align-items: center">Setzen eines neuen Passworts.</h1>

    <p style="text-align: justify; color: rgb(85, 85, 85);">Du erhältst diese Nachricht, da du über unseren Service ein neues Passwort angefragt hast.
        Über den Button kannst du innerhalb von 72h dein neues Passwort setzen. Mit deinem neuen Passwort kannst du
         dich wieder bei uns einloggen.</p>
    <a style="text-align:center; margin: auto; display: table;text-decoration: none" href="{{ absolute_url(path('app_profile_reset', { token: user.resetToken }, true)) }}">
                    <button style="
                             margin-top: 20px;
                             color: #fff;
                             background-color: #007bff;
                             cursor: pointer;
                             display: block;
                             font-weight: 400;
                             text-align: center;
                             vertical-align: middle;
                             padding: 0.375rem 0.75rem;
                             font-size: 1rem;
                             line-height: 1.5;
                             -webkit-border-radius: 10px;
                             -moz-border-radius: 10px;
                             border-radius: 10px;
                             transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                             -webkit-appearance: button;
                    ">Neues Passwort</button>
    </a>

    {% endblock %}

    {% block mail_footer %}
        Der für diesen Service generierte Token kann nur einmal benutzt werden. Für die Nutzung ist eine Internetverbindung notwendig.
        Der Token ist verliert auch bei Nichtnutzung nach 72h seine Gültigkeit.<br>
        Solltest du kein neues Passwort angefordert haben, gib uns bitte Bescheid.
    {% endblock %}
