# Google ReCaptcha
{% block google_recaptcha_errors %}
    {% filter spaceless %}
        <span class="invalid-feedback d-block">
            <span class="d-block" style="text-align: left">
                {% for error in errors  %}
                    <span class="form-error-icon badge badge-danger text-uppercase">{{ 'recaptcha.error'|trans({}, 'validators') }} </span> <span class="form-error-message"> {{ 'recaptcha.recaptcha'|trans({}, 'validators') }}: {{ error.message }}</span>
                {% endfor %}
            </span>
        </span>
    {% endfilter %}
{% endblock %}
{% block google_recaptcha_widget %}
    {% filter spaceless %}
        <div class="g-recaptcha" data-sitekey="{{ site_key }}"></div>
    {% endfilter %}
{% endblock %}
