{% extends 'base.html.twig' %}

{% block title %}ChangeLog{% endblock %}

{% block body %}
<style>
    .change-log { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .change-log h5 { text-align: left; text-decoration: underline; margin-top: 1em; color: #2e6da4}
    .change-log ul { flex-wrap: wrap; padding: 0; margin-top:20px; text-align: left; margin-bottom: 1em; margin-left: 1em;}
</style>

<div class="change-log">
    <h3>Versionshinweise</h3>
    <h5>Nakade 3.2.x</h5>
    <ul>
        <li>Upgrade auf Symfony 5.0</li>
        <li>neu: aktuelle Bundesliga Tabelle</li>
        <li>neu: Versionshinweise für Nutzer</li>
        <li>Bugfix: email Validierung bei Registrierung, Newsletter u.a.</li>
        <li>Bugfix: SEO files robots.txt and sitemap.xml</li>
        <li>Bugfix: Link auf der Spieltreffseite auf den Newsletter</li>
    </ul>
</div>
{% endblock %}
