{% if view == 'show' %}
    {{ value|nl2br }}
{% else %}

    <select id="bundesligamatch_board1" name="bundesligamatch[board]" class="form-control" autocomplete="disabled">
{#        {% for i in 1..5 %}#}
        <option value="1" selected="selected">Brett 1</option>
{#        {% endfor %}#}
    </select>
    {% if value|lower=='b' %}<i class="fa fa-fw fa-circle"></i>{% else %}<i class="fa fa-fw fa-circle-o"></i>{% endif %}
{% endif %}
