{% extends '@EasyAdmin/default/show.html.twig' %}


{% block item_actions %}
    {{ parent() }}
    <a class="btn btn-primary action-new" href="#" target="_self">
        <i class="fa fa-fw fa-commenting-o"></i> Kommentieren
    </a>
{% endblock item_actions %}
